{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>E-Learning Self-Service</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Users</h2>
        <p>Teacher</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>Student</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>Product Manager</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>Administrator</p>
    </div>
    <div class="col-md-4">
        <h2>Modules</h2>
        <p>Create and manage courses </p>
        <p>Design assignment </p>
        <p>Mark assignment  </p>
        <p> Monitor student progress and provide feedback </p>
        <p>.</p>
        <p>Enroll and purchase courses </p>
        <p>Submit assignment</p>
        <p>Track learning progress     </p>
        <p>Give feedback to enrolled courses</p>
        <p>.</p>
        <p>Examine market trends and customer feedback</p>
        <p>Partner with course experts</p>
        <p>Enhance User Experience </p>
        <p>.</p>
        <p>Oversee the entire platform </p>
        <p>Manage user accounts</p>
        <p>Remove any inappropriate courses or videos </p>
    </div>
</div>



{% endblock %}
