<div style="text-align: right; padding: 10px; position: absolute; top: 0; right: 0;">
    <form method="post" action="{% url 'logout' %}" style="display: inline;">
        {% csrf_token %}
        <button type="submit" style="padding: 5px 10px; font-size: 14px;">Logout</button>
    </form>
</div>

<div style="text-align: left; padding: 10px; position: absolute; top: 0; left: 0;">
    <form method="post" action="{% url 'adminmainpage' %}" style="display: inline;">
        {% csrf_token %}
        <input type="hidden" name="user_id" value="{{ user_id }}">
        <button type="submit" style="padding: 5px 10px; font-size: 14px;">Back</button>
    </form>
</div>

{% block content %}
<div style="background-color: #f2f2f2; text-align: center; border-bottom: 2px solid #ccc; ">
    <h1 style="font-size: 48px; font-family: 'Arial', sans-serif; margin: 0;">Admin</h1>
    <h2 style="font-size: 28px; font-family: 'Arial', sans-serif; margin: 0;">Manage User Account</h2>
</div>

<div style="display: flex; justify-content: center; align-items: center; height: 50vh;">
    <form method="post" action="{% url 'manageuseraccount' %}" style="text-align: center; padding: 50px; border: 3px solid #cccccc90; border-radius: 8px;">
        {% csrf_token %}
        
        <div style="display: flex; align-items: center; justify-content: center; gap: 10px; margin-bottom: 10px;">
            <label for="user_id">User ID:</label>
            <input type="text" name="user_id" required style="padding: 5px; width: 200px;">
        </div>
        
        <div style="display: flex; justify-content: center; gap: 10px; margin-top: 10px;">
            <button type="submit" name="view" style="padding: 10px 20px; background-color: rgb(40, 185, 40); color: white">View User</button>
            <button type="submit" name="delete" style="padding: 10px 20px; background-color: red; color: white;">Delete User</button>
        </div>
    </form>
</div>



{% endblock %}

<style>
    body {
        margin: 0;
        padding: 0;
    }
</style>
